kafka-network/channel-artifacts/*.tx
kafka-network/channel-artifacts/*.block
kafka-network/crypto-config/*
kafka-network/chaincode/
kafka-network/docker-compose-cli.yaml
kafka-network/bin/
kafka-network/config/
client/node_modules
client/cert/*.pem
client/cert/*_key
client/config/*.tx
rest-server/dist
rest-server/node_modules
rest-server/keystore
rest-server/.env